<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-primary" (click)="onToggleDetailsDisplay()">
                Display Details
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <p class="alert alert-info" *ngIf='displayDetails'>
                This is my details!
        </p>
    </div>
</div>

<div class="row" *ngFor="let log of logArray; index as i">
    <p  [ngStyle]="{backgroundColor: getLogBackgroundColor(log)}"
        [ngClass]="{whiteText: log.id >= 5}" >
        {{ log.id + ': ' + log.logText }}
    </p>
</div>